@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* Formatação geral */

body {
    background-image: url("https://i.ytimg.com/vi/yDaSjsbyAI4/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
}

/* Formatação do Título */

header#cabecalho h1 {
    padding: 5px;
    margin: 30px auto;
    background-color: black;
    border-radius: 6px;
    max-width: fit-content;
}

/* Formatação Cabeçalho da Tabela */

table {
    border: 2px solid #ffffff;
    border-collapse: collapse;
    background-color: black;
    padding: 3px;
    margin: 30px auto;
    width: 100%;
}
thead#cabecalho-tabela th {
    border: 1px solid #ffffff;
    padding: 3px 5px;
}

/* Formatação Corpo da Tabela */

tbody#corpo-tabela td {
    border: 1px solid #ffffff;
    padding: 3px 5px;
}
button.botao-jogo {
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 3px;
    transition: .1s;
}
button.botao-jogo:hover {
background-color: #947878;
color: white;
}

/* Formatação Botão Jogador */

button#botao-jogador {
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 5px;
    transition: .1s;
}
button#botao-jogador:hover {
    background-color: #947878;
    color: white;
}

button#botao-mostrar {
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 5px;
    transition: .1s;
}
button#botao-mostrar:hover {
    background-color: #947878;
    color: white;
}